<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SignalInfo</key>
	<dict>
		<key>Frequency</key>
		<integer>100</integer>
		<key>Pedestrian</key>
		<dict>
			<key>Size</key>
			<dict>
				<key>Width</key>
				<integer>250</integer>
				<key>Height</key>
				<integer>250</integer>
			</dict>
		</dict>
	</dict>
	<key>DebugMode</key>
	<dict>
		<key>Flag</key>
		<false/>
		<key>Binary</key>
		<false/>
		<key>Point</key>
		<false/>
		<key>Rect</key>
		<false/>
		<key>Area</key>
		<false/>
		<key>Signal</key>
		<false/>
	</dict>
	<key>CameraSettings</key>
	<dict>
		<key>FormatIndex</key>
		<integer>0</integer>
		<key>ActiveFormat</key>
		<array/>
		<key>ExposureValue</key>
		<real>0.2</real>
		<key>ISO</key>
		<integer>800</integer>
		<key>ExposureBias</key>
		<integer>0</integer>
		<key>VideoFPS</key>
		<integer>30</integer>
	</dict>
	<key>RecordMode</key>
	<dict>
		<key>Time</key>
		<integer>0</integer>
	</dict>
	<key>ColorSettings</key>
	<dict>
		<key>DetectColors</key>
		<integer>5</integer>
		<key>ColorSpaceRed</key>
		<dict>
			<key>H</key>
			<dict>
				<key>Lower</key>
				<integer>160</integer>
				<key>Upper</key>
				<integer>20</integer>
			</dict>
			<key>S</key>
			<dict>
				<key>Lower</key>
				<integer>100</integer>
				<key>Upper</key>
				<integer>255</integer>
			</dict>
			<key>V</key>
			<dict>
				<key>Lower</key>
				<integer>70</integer>
				<key>Upper</key>
				<integer>255</integer>
			</dict>
		</dict>
		<key>ColorSpaceGreen</key>
		<dict>
			<key>H</key>
			<dict>
				<key>Lower</key>
				<integer>80</integer>
				<key>Upper</key>
				<integer>100</integer>
			</dict>
			<key>S</key>
			<dict>
				<key>Lower</key>
				<integer>100</integer>
				<key>Upper</key>
				<integer>255</integer>
			</dict>
			<key>V</key>
			<dict>
				<key>Lower</key>
				<integer>70</integer>
				<key>Upper</key>
				<integer>255</integer>
			</dict>
		</dict>
	</dict>
	<key>DetectParams</key>
	<dict>
		<key>ValidArea</key>
		<dict>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<integer>0</integer>
			<key>Width</key>
			<integer>0</integer>
			<key>Height</key>
			<integer>0</integer>
		</dict>
		<key>CombinePoint</key>
		<dict>
			<key>Threshold</key>
			<integer>4</integer>
			<key>Offset</key>
			<integer>4</integer>
		</dict>
		<key>IntegrateRect</key>
		<dict>
			<key>Prop</key>
			<integer>1</integer>
			<key>Offset</key>
			<integer>4</integer>
		</dict>
		<key>ValidRect</key>
		<dict>
			<key>Min</key>
			<dict>
				<key>Width</key>
				<integer>8</integer>
				<key>Height</key>
				<integer>8</integer>
			</dict>
			<key>Max</key>
			<dict>
				<key>Width</key>
				<integer>64</integer>
				<key>Height</key>
				<integer>64</integer>
			</dict>
		</dict>
		<key>CompareRect</key>
		<dict>
			<key>Dist</key>
			<integer>4</integer>
			<key>Scale</key>
			<real>0.8</real>
		</dict>
		<key>RecogonizeSignal</key>
		<dict>
			<key>LightnessDiff</key>
			<real>0.4</real>
			<key>CompareSignal</key>
			<dict>
				<key>DiffCount</key>
				<integer>6</integer>
				<key>InvalidCount</key>
				<integer>30</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
